<form class="todolist">
  <mat-form-field class="task-description">
    <mat-label>Task</mat-label>
    <input matInput [(ngModel)]="newTask.description" name="description">
  </mat-form-field>

  <mat-form-field class="task-due-date">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newTask.dueDate" name="date" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="addTask()">Add task</button>
</form>

<ul>
  <li *ngFor="let task of todoList; let i = index">
    <mat-checkbox [(ngModel)]="task.isDone" name="task" [class.completed]="task.isDone">
      {{task.description}} <sub>{{task.dueDate | date : 'EE d, MMMM y'}}</sub>
    </mat-checkbox>
    <button mat-icon-button aria-label="Edit icon" (click)="editTask(task)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete icon" (click)="deleteTask(task)">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
</ul>
